@font-face {
    font-family: 'helvetica-light';
    src: url("fonts/Helvetica LT Light.ttf");
}

body {
  font-family: "helvetica-light", sans-serif;
  margin: 0px 0px 0px 0px;
}

a {
  text-decoration: none;
}

h1 {
  color: #95c21f;
  font-size: 50px;
}

h2 {
  color: #95c21f;
}

p {
  font-size: 12px;
}

div#content {
  width: 100%;
}

section#home {
  width: 100%;
  height: 680px;
  background: url(../assets/top-back.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div#logo p {
  font-size: 18px;
  color: white;
}

div#logo {
  width: 180px;
  float:left;
  padding: 0px 0px 0px 20px;
}

div#nav {
  width: 500px;
  float: right;
  padding: 30px 0px 0px 0px;
}

div#nav a {
  font-size: 13px;
  color: white;
  padding: 0px 5px 0px 5px;
}

div#large-v{
  width: 100%;
  height: 100%;
}

img#large-v {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
}

section#about {
  width: 600px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 200px;
}

#about td {
  color: #95c21f;

}

button {
  background-color: #95c21f;
  border: none;
  color: white;
  padding: 10px 20px 10px 20px;
  border-radius: 4px;
}

#home-automation {
  background: url(../assets/vesta-back.jpg);
  background-position:center bottom;
  background-repeat:no-repeat;
  text-align: center;
  margin: 0px auto;
}

#automation {
  width: 600px;
  text-align: center;
  margin: 0 auto;
  margin-top: -90px;
}

#towan-heights {
  position: absolute;
  z-index: 2;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  margin-top: 310px;
}

#towan-heights p {
  color: white;
  text-align: center;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

#bottom {
  margin-left:auto;
      margin-right:auto;}

#contact-info {
  width: 200px;
}

#latest-post {
  width: 300px;
}

#latest-post a {
  color: #95c21f;

}

tr#bottom-headers h2{
  height: 5px;
}

#bottom{
border-spacing: 30px 0px;
}
